h1{
    color: rgb(2, 2, 2);
}
body{
    background-color: rgb(0, 217, 255);
}
#encabezado{
background-color: rgb(98, 255, 59);
height: 150px;
width: 80%;
margin: 0 auto;
border-radius: 10px;
padding: 20px;
box-shadow: 10px 10px 7px rgba(20, 20, 20, 0.3);
display: flex;
}

.logo{
background-color: rgb(255, 0, 0);
width: 10%;
justify-content: center;
align-items: center;
display: flex;
}
.logo img{
    width: 100%;
    height: auto;
}

.menu{
    background-color: rgb(0, 255, 242);
    width: 70%;
}
.menu ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    background-color: rgb(255, 255, 255);
   
}

.menu ul li{
    margin: 0%;
    padding: 15px 20px;
    
}

.menu ul li a{
    text-decoration: none;
    color: black;
}

.menu ul li a:hover{
    background-color: rgb(0, 225, 255);
    padding: 15 px 20px;
}
.redes{
    background-color: rgb(255, 0, 0);
    width: 20%;
}