h1{
    color: rgb(2, 2, 2);
}
body{
    background-color: rgb(0, 217, 255);
}
#encabezado{
background-color: rgb(98, 255, 59);
height: 150px;
width: 80%;
margin: 0 auto;
border-radius: 10px;
padding: 20px;
box-shadow: 10px 10px 7px rgba(20, 20, 20, 0.3);
}